@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Questrial&display=swap');

@font-face {
    font-family: "The Seasons";
    src: url("./assets/Demo_Fonts/Fontspring-DEMO-theseasons-bd.otf");
}

:root {
    --header-font: "The Seasons";
    --accent-font: "Inspiration";
    --body-font: "Inter";
    --font-color: #272727;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--body-font), serif;
    color: var(--font-color);
    text-transform: uppercase;
    /* border: 1px solid red; */
}

body {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    min-height: 100vh;
    margin-top: -16px;
    padding-bottom: 16px;
    width: 100vw;
}

section:nth-child(2n) {
    background-color: #E2E4D5;
}

.back-button {
    font-size: 14px;
    display: flex;
    position: fixed;
    top: 38px;
    left: 45px;
    gap: 0.25rem;
    z-index: 20;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
    font-weight: 500;
}

.back-button:hover {
    border-bottom: 1px solid black;
}

nav {
    font-size: 14px;
    display: flex;
    position: fixed;
    top: 38px;
    right: 38px;
    gap: 0.25rem;
    z-index: 20;
}

nav a {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
    font-weight: 500;
}

nav a:hover {
    border-bottom: 1px solid black;
}

.headline {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    margin-top: 8px;
    margin-left: 38px;
}

.headline div {
    display: flex;
    align-items: flex-end;
}

.headline div .description {
    width: 220px;
    margin-left: 40px;
    line-height: 1.5;
    font-size: 16.8px;
}

.header {
    font-family: var(--header-font);
    font-size: 175px;
    letter-spacing: -10px;
    height: 10rem;
    display: flex;
    align-items: flex-start;
}

.accent {
    font-family: var(--accent-font), cursive;
    font-size: 170px;
    font-weight: 200;
    align-self: flex-end;
    margin-inline: 0.3rem;
}

/* Fixing handwritten letters sizes */
#letter-d,
#letter-e,
#letter-b,
#letter-n,
#letter-o {
    margin-right: 0.7rem;
    line-height: 100px;
}

#letter-b {
    margin-left: 20px;
}

#letter-n {
    margin-right: 25px;
}

.say-hi {
    position: absolute;
    bottom: 38px;
    right: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.say-hi img {
    height: 175px;
    width: auto;
}

.say-hi a {
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}

.scroll-landing {
    display: flex;
    position: absolute;
    bottom: 82px;
    left: 48px;
}

.scroll-landing p {
    font-size: 14px;
    width: 115px;
    line-height: 1.5;
    font-weight: 500;
}

/*------------------PROJECT SECTION -------------------- */
#projects-page #headline-two {
    align-items: flex-start;
    gap: 30px;
}

#projects-page #headline-two img {
    padding-top: 20px;
}

#circle-number-projects {
    height: 80px;
    width: 80px;
}

.projects-grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 100px;
    column-gap: 30px;
    margin-inline: 38px;
    margin-block: 50px;
    margin-left: 80px;
}

.project-container {
    height: 90vh;
    width: 90%;
}

.project-container:nth-of-type(2n) {
    transform: translateY(-160px);
}

.project-container>img {
    min-height: 90%;
    min-width: 100%;
    background-color: #F4F4F4;
}

.project-container>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.project-container>div>div {
    display: flex;
    width: 75%;
    justify-content: flex-end;
}

.project-container>div>p {
    font-size: 16.8px;
}

.project-tag {
    display: grid;
    place-items: center;
    grid-template-areas: "inner-div";
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.project-tag img {
    grid-area: inner-div;
    max-height: 45px;
}

.project-tag p {
    grid-area: inner-div;
    font-size: 11.63px;
    line-height: 1.5;
}

.skills {
    margin-left: 40px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
}

.about-text {
    width: 50%;
    text-indent: 175px;
    margin-inline: auto;
    text-align: justify;
    font-size: 16.8px;
    line-height: 1.5;
    margin-top: 80px;
}

.headline.info,
.footer {
    display: flex;
    flex-direction: row;
    width: 93%;
    align-items: flex-end;
    justify-content: space-between;
    margin-inline: auto;
    padding-bottom: 80px;
    margin-top: -80px;
}

.get-in-touch {
    margin-left: 70%;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
}

.get-in-touch div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-top: 120px;
}

.get-in-touch div p {
    margin-left: 25px;
    margin-top: 10px;
}

.get-in-touch ul {
    margin-top: 80px;
    margin-left: 25px;
}

.get-in-touch div img,
.get-in-touch div p {
    position: absolute;
}

.footer {
    margin-top: 110px;
    padding-bottom: 30px;
    align-items: center !important;
    justify-content: space-between;
}

.footer div {
    display: flex;
    align-items: center;
}

.footer>p {
    width: 220px;
    font-size: 11.67px;
    line-height: 1.5;
}

.footer div p {
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
}

.contact-question {
    width: 250px;
    margin-left: 270px;
    margin-top: 40px;
    line-height: 1.5;
    font-size: 16.8px;
}

.photo {
    height: 300px;
    width: 300px;
}

.arrow-top {
    rotate: 180deg;
}

/* Start of Project Details page */
#project-landing .headline {
    margin-top: 100px;
}

.project-information {
    margin-left: 140px;
    display: grid;
    width: 71%;
    margin-bottom: 50px;
    grid-template-columns: repeat(3, auto);
    font-size: 14px;
    line-height: 1.5;
}

.project-information>ul {
    margin-top: 150px;
}

.project-information>ul>p {
    font-weight: 500;
    font-size: 16.8px;
    line-height: 1.5;
    padding-bottom: 10px;
}

#project-about {
    margin-bottom: 100px;
}

#project-about .description-one {
    margin-top: 100px;
    margin-left: 140px;
    width: 72%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#project-about .description-one>div {
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-areas: "inner-div";
}

#project-about .description-one>div img,
#project-about .description-one>div p {
    grid-area: inner-div;
    width: 240px;
    font-size: 14px;
    font-weight: 500;
}

#project-about .description-one>p {
    width: 60%;
    text-align: justify;
    font-size: 16.8px;
    line-height: 1.5;
    text-indent: 175px;
}

.description-one-gallery {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.description-one-gallery img {
    min-height: 600px;
    width: 90%;
    background-color: #F4F4F4;
}

.description-one-gallery img:nth-child(2) {
    transform: translateY(50px);
}