@font-face {
  font-family: "The Seasons";
  src: url("/public/assets/Demo_Fonts/Fontspring-DEMO-theseasons-bd.otf");
  font-display: block;
}

/* 375 is the size of your mobile design width */
:root {
  --scale: calc(1440px / 1200);
  --header-font: "Instrument Serif";
  --accent-font: "Inspiration";
  --body-font: "Inter";
  --font-color: #272727;
}

/* 1440 is the size of your desktop design width
967 is the breakpoint between mobile and desktop */
@media (min-width: 967px) {
  :root {
    --scale: calc(1440px / 1570);
  }

  .heading {
    font-size: calc(var(--scale) * 66);
  }
}

.heading {
  font-size: calc(var(--scale) * 22);
}

.preloader {
  z-index: 21;
  background-color: #e2e4d5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* Hide the element after the animation */
.slide-up {
  animation: slideUp 0.5s forwards;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px #272727 inset;
  border-radius: 50%;
  position: relative;
  animation: l6 1.5s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  top: 100%;
  box-shadow: inherit;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
}

@keyframes l6 {
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--body-font), serif;
  color: var(--font-color);
  text-transform: uppercase;
  /* border: 1px solid red; */
}

body {
  overflow-x: hidden;
  opacity: 0;
  font-display: swap;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  min-height: 100vh;
  padding-bottom: calc(16 * var(--scale));
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

nav .desktop {
  display: block;
}

nav .mobile {
  display: none;
}

#landing-page {
  margin-top: calc(-16 * var(--scale));
}

.main-body section:nth-child(2n - 1) {
  background-color: #e2e4d5;
}

.back-button-container {
  position: fixed;
  top: calc(38 * var(--scale));
  left: calc(45 * var(--scale));
  z-index: 20;
}

#back-button {
  font-size: calc(14 * var(--scale));
  display: flex;
  gap: 0.25rem;
  font-weight: 500;
  padding-bottom: 2px;
}

nav {
  font-size: calc(14 * var(--scale));
  display: flex;
  position: fixed;
  top: calc(38 * var(--scale));
  right: calc(38 * var(--scale));
  gap: 0.25rem;
  z-index: 20;
}

nav a {
  padding-bottom: 2px;
  text-decoration: none;
  font-weight: 500;
}

.underline,
.back-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.8px;
  background-color: #272727;
  transition: width 0.5s ease;
}

.headline {
  padding-top: calc(38 * var(--scale));
  padding-left: calc(38 * var(--scale));
}

.headline div {
  display: flex;
  align-items: flex-end;
  margin-top: calc(-20 * var(--scale));
}

.headline div .description {
  width: calc(220 * var(--scale));
  margin-left: calc(40 * var(--scale));
  line-height: 1.5;
  font-size: calc(16.8 * var(--scale));
}

.header,
.header-mobile,
.header-title {
  font-family: var(--header-font);
  font-size: calc(190 * var(--scale)) !important;
  height: calc(190 * var(--scale)) !important;
  letter-spacing: calc(-2 * var(--scale));
  display: flex;
  font-weight: 500;
}

.accent {
  font-family: var(--accent-font), cursive;
  font-size: calc(160 * var(--scale));
  font-weight: 200;
  margin-inline: 0.3rem;
  margin-top: calc(29* var(--scale));
}

#letter-n {
  margin-right: calc(25 * var(--scale));
}

.say-hi {
  position: absolute;
  bottom: calc(38 * var(--scale));
  right: calc(60 * var(--scale));
  display: flex;
  align-items: center;
  justify-content: center;
}

.say-hi img {
  height: calc(175 * var(--scale));
  width: auto;
}

.say-hi a {
  position: absolute;
  font-size: calc(14 * var(--scale));
  font-weight: 500;
  text-decoration: underline;
}

.scroll-landing {
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: calc(82 * var(--scale));
  left: calc(48 * var(--scale));
}

.arrow-top {
  height: calc(40 * var(--scale));
}

.scroll-landing img,
.explore img {
  margin-top: calc(10 * var(--scale));
  height: calc(40 * var(--scale));
}

.scroll-landing p,
.explore p {
  font-size: calc(14 * var(--scale));
  width: calc(95 * var(--scale));
  line-height: 1.5;
  font-weight: 500;
}

/*------------------PROJECT SECTION -------------------- */
#projects-page #headline-two {
  align-items: flex-end;
  gap: calc(30 * var(--scale));
}

#projects-page #headline-two img {
  padding-top: calc(20 * var(--scale));
}

#circle-number-projects {
  height: calc(80 * var(--scale));
  width: calc(80 * var(--scale));
}

.projects-grid,
.playground {
  margin-inline: calc(38 * var(--scale));
  margin-block: calc(50 * var(--scale));
}

.project-container {
  height: 90vh;
  width: 90%;
}

.project-container>img {
  display: none;
  min-height: 90%;
  min-width: 100%;
  background-color: #f4f4f4;
}

.project-container>div {
  display: flex;
  align-items: flex-end;
  margin-top: calc(150 * var(--scale));
}

.project-container>div>div {
  display: flex;
  row-gap: calc(10 * var(--scale));
  flex-flow: row wrap;
}

.project-container>div>p {
  font-size: calc(16.8 * var(--scale));
  margin-right: calc(20 * var(--scale));
}

.project-tag {
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
  font-size: calc(14 * var(--scale));
  font-weight: 500;
  margin-left: calc(10 * var(--scale));
}

.project-tag img {
  grid-area: inner-div;
  height: calc(53 * var(--scale));
}

.project-tag p {
  grid-area: inner-div;
  font-size: calc(14 * var(--scale));
  line-height: 1.5;
}

.playground {
  margin-block: calc(150 * var(--scale));
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playground div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 0;
  width: 30%;
  font-size: calc(14 * var(--scale));
  font-weight: 500;
  line-height: 1.5;
}

.playground a {
  text-decoration: underline;
}

.playground img {
  position: absolute;
  width: 99%;
  z-index: -1;
}

.skills {
  margin-left: calc(40 * var(--scale));
  font-size: calc(14 * var(--scale));
  line-height: 1.5;
  font-weight: 500;
}

#about-page,
#contact-page {
  justify-content: space-between;
}

.about-text {
  width: 50%;
  text-indent: calc(175 * var(--scale));
  margin-inline: auto;
  text-align: justify;
  font-size: calc(16.8 * var(--scale));
  line-height: 1.5;
  margin-top: calc(80 * var(--scale));
}

.headline.info,
.footer {
  display: flex;
  flex-direction: row;
  width: 93%;
  align-items: flex-end;
  justify-content: space-between;
  margin-inline: auto;
  padding-bottom: calc(80 * var(--scale));
  margin-top: calc(-80 * var(--scale));
}

.get-in-touch {
  margin-left: 70%;
  font-size: calc(14 * var(--scale));
  line-height: 1.5;
  font-weight: 500;
  text-decoration: underline;
}


.get-in-touch ul {
  margin-left: calc(25 * var(--scale));
}

.get-in-touch #contact-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/public/assets/circle-contact.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(380 * var(--scale)) calc(190 * var(--scale));
  width: 85%;
  height: 50px;
  padding-block: 40px;
  transform: translateX(calc(-90 * var(--scale)));
}

.get-in-touch #contact-circle p {
  margin-left: calc(25 * var(--scale));
  margin-top: calc(10 * var(--scale));
  width: 50%;
  position: absolute;
  z-index: 1;
}

.get-in-touch #contact-circle a {
  text-decoration: underline;
}

.footer {
  margin-top: calc(150 * var(--scale));
  padding-bottom: calc(30 * var(--scale));
  align-items: center !important;
  justify-content: space-between;
}

.footer div {
  display: flex;
  align-items: center;
}

.footer>p {
  width: calc(220 * var(--scale));
  font-size: calc(11.67 * var(--scale));
  line-height: 1.5;
}

.footer div p {
  font-size: calc(14 * var(--scale));
  font-weight: 500;
  margin-right: calc(20 * var(--scale));
}

.contact-question {
  width: calc(250 * var(--scale));
  margin-left: calc(270 * var(--scale));
  margin-top: calc(40 * var(--scale));
  line-height: 1.5;
  font-size: calc(16.8 * var(--scale));
}

.photo {
  height: calc(300 * var(--scale));
  width: calc(300 * var(--scale));
}

.arrow-top {
  rotate: 180deg;
}

/* ---------------Start of Project Details page------------------ */
#project-landing .headline {
  padding-top: calc(100 * var(--scale));
}

.explore {
  align-items: center;
  display: flex;
  position: absolute;
  bottom: calc(82 * var(--scale));
  right: calc(48 * var(--scale));
}

.project-information {
  margin-left: calc(140 * var(--scale));
  display: grid;
  width: 71%;
  margin-bottom: calc(50 * var(--scale));
  grid-template-columns: repeat(4, auto);
  font-size: calc(14 * var(--scale));
  line-height: 1.5;
}

.project-information>ul {
  margin-top: calc(150 * var(--scale));
}

.project-information>ul>p {
  font-weight: 500;
  font-size: calc(16.8 * var(--scale));
  line-height: 1.5;
  padding-bottom: calc(10 * var(--scale));
}

.project-about {
  margin-bottom: calc(100 * var(--scale));
}

.project-about .description {
  margin-top: calc(180 * var(--scale));
  margin-left: calc(140 * var(--scale));
  width: 72%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 5%;
}

.project-about .description>div {
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-areas: "inner-div";
}

.project-about .description>div img,
.project-about .description>div p {
  grid-area: inner-div;
  width: calc(240 * var(--scale));
  font-size: calc(14 * var(--scale));
  font-weight: 500;
}

.project-about .description>p {
  width: 60%;
  text-align: justify;
  font-size: calc(16.8 * var(--scale));
  line-height: 1.5;
  text-indent: calc(175 * var(--scale));
}

#main-problem {
  padding-bottom: 12rem;
}

.section-footer {
  min-height: 40vh;
  margin-top: calc(200 * var(--scale));
}

.next-project {
  margin-inline: auto;
  width: 93%;
}

.next-project>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.next-project-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: calc(200 * var(--scale));
  padding-top: calc(40 * var(--scale));
}

.next-project-handle a,
#next-placeholder {
  text-decoration: underline;
  font-size: calc(14 * var(--scale));
  line-height: 1.5;
  font-weight: 500;

}

.next-project-handle img {
  position: absolute;
  z-index: -1;
  width: 99%;
}

.description-gallery {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(100 * var(--scale));
}

.description-gallery img {
  min-height: calc(600 * var(--scale));
  width: 90%;
  background-color: #f4f4f4;
}

.description-gallery img:nth-child(2) {
  transform: translateY(calc(50 * var(--scale)));
}

.background__image {
  position: fixed;
  top: calc(-200 * var(--scale));
  left: calc(-300 * var(--scale));
  width: calc(800 * var(--scale));
  height: calc(444 * var(--scale));
  pointer-events: none;
  z-index: 0;
}

.background__image img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

#back-to-top {
  cursor: pointer;
}

#back-to-top p {
  font-size: calc(14 * var(--scale));
  line-height: 1.5;
  font-weight: 500;
}


/*---------------------- Parallax Section----------------------- */
.parallax {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.content__list {
  margin: 0;
  padding: 0;
}

.content__item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----------------PLAYGROUND PAGE----------------- */
.playground-grid {
  display: grid;
  margin-inline: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
  row-gap: calc(180 * var(--scale));
  column-gap: calc(10 * var(--scale));
  margin-top: calc(-190 * var(--scale));
}

.playground-container {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playground-container img {
  width: 100%;
  margin-bottom: calc(20 * var(--scale));
}

.playground-container p {
  margin: 0;
  width: 100%;
  text-align: left;
}

.playground-container:nth-of-type(2n+1) {
  transform: translateY(calc(-160 * var(--scale)));
}

@media (max-width: 967px) {
  .main-boidy section {
    padding-left: calc(40 * var(--scale));
    padding-right: calc(-40 * var(--scale));
  }

  /* MENU RESPONSIVE */
  nav .mobile {
    display: block;
    text-align: right;
    position: relative;
    margin: calc(40 * var(--scale));

    a {
      font-size: calc(40 * var(--scale));
    }

    .mobile-underline {
      position: absolute;
      bottom: -1px;
      right: 0;
      width: 100%;
      height: 0.8px;
      background-color: #272727;
    }

    .menu {
      display: none;
      text-align: right;
      margin-top: .25rem;
    }

    .menu.open {
      position: fixed;
      margin: 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background-color: #f4f4f4;
      display: flex;
      flex-direction: column;
      gap: calc(100 * var(--scale));
      padding-top: calc(124 * var(--scale));
    }

    .menu.open a {
      padding-left: calc(58 * var(--scale));
    }
  }

  nav .desktop {
    display: none;
  }

  .mobile-header, .header {
    font-size: calc(200 * var(--scale)) !important;
    letter-spacing: calc(-10 * var(--scale));
  }

  .headline {
    margin-top: calc(100 *var(--scale));
    gap: 8px;

    .header-title {
      font-size: calc(220 * var(--scale)) !important;
      letter-spacing: calc(-15 * var(--scale));
    }

    div {
      flex-direction: column;
      align-items: normal !important;
      gap: calc(80 * var(--scale));
    }

    div .description {
      margin-left: 0;
      font-size: calc(40 * var(--scale));
      width: calc(500 * var(--scale));
    }
  }

  #letter-d,
  #letter-e,
  #letter-b,
  #letter-n,
  #letter-o {
    line-height: calc(180 * var(--scale));
    font-size: calc(190* var(--scale));
  }

  .say-hi {
    padding-right: 1rem;
    margin-bottom: calc(40 * var(--scale));

    img {
      height: calc(400 * var(--scale));
    }

    a {
      font-size: calc(40 * var(--scale));
      padding: 0.5rem 1rem;
    }

  }

  .scroll-landing {
    margin-bottom: calc(40 * var(--scale));

    p {
      width: calc(230 * var(--scale));
      font-size: calc(40 * var(--scale));
      padding: 0.5rem 1rem;
    }

    img {
      height: calc(150 * var(--scale));
    }

  }

  #projects-page {
    #headline-two {
      flex-direction: row;
    }

    #circle-number-projects {
      /* width: calc(200 * var(--scale)); */
      display: none;
    }

    .project-tag {
      display: none;
    }
  }

  .playground {
    flex-direction: column;
    gap: calc(190 * var(--scale));

    p {
      align-self: flex-start;
    }

    #circle-playground {
      align-self: flex-end;
      width: calc(650 * var(--scale));

      p {
        font-size: calc(40 * var(--scale));

      }
    }
  }

  #about-page {
    .skills {
      margin-left: 0;
      padding-top: calc(20 * var(--scale));
      font-size: calc(40 * var(--scale));
    }

    .about-text {
      font-size: calc(40 * var(--scale));
      width: calc(800 * var(--scale));
      margin-bottom: calc(90 * var(--scale));
    }

    .headline.info {
      justify-content: flex-end;
    }

    .photo {
      display: none;
    }
  }

  #contact-page {
    .contact-question {
      font-size: calc(40 * var(--scale));
      width: calc(550 * var(--scale));
    }

    .get-in-touch {
      margin-left: calc(500 * var(--scale));

      #contact-circle {
        background-size: calc(780 * var(--scale)) calc(390 * var(--scale));
        padding-inline: calc(130 * var(--scale));
        padding-block: calc(110* var(--scale));
        transform: translateX(calc(-170 * var(--scale)));
        font-size: calc(40 * var(--scale));

        p {
          transform: translateX(calc(-80 * var(--scale)));
        }
      }
    }

    ul li {
      font-size: calc(40 * var(--scale));
    }

  }

  .footer {
    p {
      font-size: calc(30 * var(--scale));
      width: calc(510 * var(--scale));
    }

    #back-to-top {
      padding-right: 20px;

      p {
        width: calc(180 * var(--scale));
        font-size: calc(40 * var(--scale));
      }

      img {
        height: calc(150 * var(--scale));
      }
    }
  }

  #project-body {
    .project-information {
      display: grid;
      grid-template-columns: repeat(2, auto);
    }

    #back-button {
      font-size: calc(40 * var(--scale));
      padding-top: calc(38 * var(--scale));
    }

    .project-information li {
      font-size: calc(40 * var(--scale));
    }

    .project-information p {
      font-size: calc(40 * var(--scale));
      font-weight: 500;
    }

    .explore {
      p {
        width: calc(230 * var(--scale));
        font-size: calc(40 * var(--scale));
        padding: 0.5rem 1rem;
      }

      img {
        height: calc(150 * var(--scale));
      }
    }

    .project-about {
      p {
        font-size: calc(40 * var(--scale));
      }

      .about-title img {
        width: calc(550 * var(--scale));
      }
    }


    section {
      min-height: 0;
      height: auto;
    }

    #project-landing {
      min-height: 100vh !important;
    }

    #project-body section {
      min-height: 300px;
      max-height: fit-content;
    }

    .parallax {
      width: 100vw;
      min-height: none;
      max-height: 40vh;
      justify-content: center;
      align-self: center;
      padding: 0;
      width: auto !important;

      .content__list {
        margin: 0;
        padding: 0;
      }

      .content__item {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .project-about .description,
    #main-problem {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 2rem;
      gap: 3rem;
    }

    .about-title {
      align-self: flex-start;
    }

    .project-about .description p,
    #main-problem p {
      text-indent: 0;
      width: 100%;
    }

    .project-about .description > p
    #main-problem {
      width: calc(800 * var(--scale));
    }

    .description-gallery {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100%;
    }

    .section-footer {
      min-height: 0;
      padding-bottom: calc(100 * var(--scale));
      height: auto !important;
    }

    .next-project-handle {
      display: none;
    }

    #next-placeholder {
      font-size: calc(40 * var(--scale));
    }
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
  border-radius: 15px;

}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
}